{% extends 'shop/base.html' %}
{% block content %}
{% load static %}
	<!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<h4>Account</h4>
			<!--div class="site-pagination">
				<a href="">Home</a> /
				<a href="">Contact</a>
			</div-->
		</div>
	</div>
	<!-- Page info end -->


	<!-- Delivery section -->
	<section class="contact-section">

https://www.zalando.ie/faq/Delivery
		Delivery
Where is my order?
Our estimated time for delivery is 18-28 days after purchase. You can find a personalised delivery estimate in the shipping confirmation sent…
Do delivery and returns cost anything?
Our standard delivery is FREE of charge, as long as you meet the minimum order value of ‎€24.90. Should your order be below...
What happens if I am not at home at the time of delivery?
If you are not at home at the time of the first delivery attempt, your parcel will be stored at the nearest An Post Parcel Shop ...
Delivery before Christmas
To ensure that your parcels arrive in time for Christmas, please place your order before 29.11.2020.
My parcel arrived damaged
We’re sorry to hear, and hope that the items you ordered arrived intact and complete. If the damage only affects your parcel…
Where does Zalando.ie deliver to?
Orders from Zalando.ie can only be delivered to an address in Ireland. If you're based in Northern Ireland, please place your order on Zalando.co.uk ...
What is long distance delivery?
Zalando now offers the possibility to choose among a wider assortment of items with the new long distance delivery ...



	</section>
	<!-- Contact section end -->


	<!-- Related product section -->
	<section class="related-product-section spad">
		<div class="container">
			<div class="section-title">
				<h2>Your Favorites</h2>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<div class="tag-new">New</div>
							<img src="./img/product/2.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Black and White Stripes Dress</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="./img/product/5.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Flamboyant Pink Top </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="./img/product/9.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Flamboyant Pink Top </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="./img/product/1.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Flamboyant Pink Top </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Related product section end -->
{% endblock content %}